extends ../shared/layout
block main-content
    form(method="post")
        input(id='id' type="hidden" name="id" value="#{id}")

        label(for="password") Password
        input(id="password" type="password" name="password" placeholder="password" class ="form-control")

        br

        label(for="confirm-password") Confirm Password
        input(id="confirm-password" type="password" name="confirmPassword" placeholder="Confirm Password" class ="form-control")

        br

        input(type="submit" value="Change" class="btn btn-lg")

