extends ../shared/layout
block main-content
    form(method="post")
        label(for="email") E-mail
        input(id="email" type="email" name="email" placeholder="email" class ="email" class="form-control")

        br

        input(type="submit" value="Reset" class="btn btn-lg")

