extends ../shared/layout
block main-content
    form(method="post")
        label(for="username") Username
        input(id="username" type="text" name="username" placeholder="username" class ="form-control" value="#{user.username}")

        br

        label(for="email") Username
        input(id="email", type="email", name="email", placeholder="E-mail", class ="form-control", value="#{user.email}")

        br

        label(for="password") Password
        input(id="password" type="password" name="password" placeholder="password" class ="form-control")

        br

        label(for="confirm-password") Confirm Password
        input(id="confirm-password" type="password" name="confirmPassword" placeholder="Confirm Password" class ="form-control")

        br

        label(for="role") Role
        select(id="role" name="role" class ="form-control")
            option(value="standard") Standard
            option(value="admin") Admin

        br

        input(type="submit" value="Register" class="btn btn-lg")

