extends ../shared/layout

block main-content
    .container(ng-controller="UploadController as vm")
        button(ng-click="vm.addFile()") More files
        br
        br
        form#form-upload(method="post" enctype="multipart/form-data" action="/upload/#{urlSafePath}")
            input(type="file" name="file_0")
            br
            br
            input(type="submit")
            
block page-scripts
    include ../shared/angular-common
    script(src="/js/angular/upload/upload-form-controller.js")