extends ../shared/layout
block main-content
    table.table.table-bordered
            tr
                th
                    | Name
            
            each dir in dirs
                tr
                    td
                        a(href="/files/#{dir.path}") #{dir.name}

            each file in files
                tr
                    td
                        a(href="/download/#{file.path}") #{file.name}
